yacs
unicodedata2
nltk
albumentations
sentencepiece
evaluate
accelerate
torchinfo
transformers==4.39.3
jupyter
ipykernel
pandas
tqdm
matplotlib
scikit-image
pillow
torch
kagglehub
scikit-learn
ipywidgets